# Upstash Redis Configuration
REDIS_URL=https://adequate-macaque-109293.upstash.io
REDIS_TOKEN=gQAAAAAAAartAAIgcDI2OGMzZDg4MTI5Njg0NTRiOTY1Yjk0YzMwYjQ1MTI2OQ

# Node Environment
NODE_ENV=production

# CORS Configuration (Frontend URL)
FRONTEND_URL=https://halfurl.vercel.app

# Port
PORT=3001
