# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://sharehub:sharehub@cluster0.zmliwzm.mongodb.net/sharehub?retryWrites=true&w=majority&appName=Cluster0

# Upstash Redis Configuration
REDIS_URL=https://adequate-macaque-109293.upstash.io
REDIS_TOKEN=gQAAAAAAAartAAIgcDI2OGMzZDg4MTI5Njg0NTRiOTY1Yjk0YzMwYjQ1MTI2OQ

# Node Environment
NODE_ENV=development

# CORS Configuration (Frontend URL)
FRONTEND_URL=http://localhost:3000
